<div class="container">
    <div class="opcao-um">
        <h5>CALENDÁRIO</h5>
        <div class="linha"></div>
        <p class="pes">Dias disponíveis<br>Detalhes<br>Exibição<br>Agendamento
        </p>
        <a routerLink="Agenda">CONTINUAR</a>
    </div>
    <div class="opcao-um">
        <h5>ESTATÍSTICAS</h5>
        <div class="linha"></div>
        <p class="pes">Quantidade consultas mês<br>Detalhes<br>Exibição<br>Sexo
        </p>
        <a routerLink="Agenda">CONTINUAR</a>
    </div>
</div>
<router-outlet></router-outlet>


