<div class="buttons-group">
  <button
    *ngFor="let psico of psicologos"
    class="button"
    (click)="showAgenda(psico.id)">
    {{ psico.nome }}
  </button>
</div>
<div class="calendar" id="calendar" hidden>
  <div class="timeline">
    <div class="spacer"></div>
    <div class="time-marker">8 : 00</div>
    <div class="time-marker">9 : 00</div>
    <div class="time-marker">10 : 00</div>
    <div class="time-marker">11 : 00</div>
    <div class="time-marker">12 : 00</div>
    <div class="time-marker">13 : 00</div>
    <div class="time-marker">14 : 00</div>
    <div class="time-marker">15 : 00</div>
    <div class="time-marker">16 : 00</div>
    <div class="time-marker">17 : 00</div>
    <div class="time-marker">18 : 00</div>
  </div>
  <div class="days">
    <div class="day" *ngFor="let dia of calendarioSemana">
      <div class="date">
        <p class="date-num">{{dia.diasNumero}}</p>
        <p class="date-day">{{dia.diasExtenso}}</p>
      </div>
      <div class="events">
        <div *ngFor="let consulta of dia.consultas" class="event hour-{{consulta.horaDoDia}}">
          <p class="title">{{consulta.nomePaciente}}</p>
          <p class="time">{{consulta.horario}}</p>
        </div>
        <div *ngFor="let horarioLivre of dia.horasLivres" class="hour-{{horarioLivre}}}">
          <svg
            (click)="setaCampos(horarioLivre,dia.diasNumero)"
            data-toggle="modal"
            data-target="#criacaoModal"
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-plus-circle"
            viewBox="0 0 16 16">
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="criacaoModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Criar nova consulta</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Nome paciente</label>
          <input class="form-control" type="text" />
          <input hidden id="horaConsulta" [(ngModel)]="horaConsulta"/>
          <input hidden id="diaConsulta" [(ngModel)]="diaConsulta"/>       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Fechar
          </button>
          <button type="button" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>
